.main__sidebar {
  max-width: 418px;
  padding: 20px 90px 20px 78px;
}

.sidebar__personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
}

.sidebar__personalName {
  position: relative;
  overflow: hidden;
  height: 24px;
  width: 190px;
  background-color: #313131;
}

.sidebar__icon {
  position: relative;
  overflow: hidden;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  background-color: #313131;
}

.sidebar__block {
  height: 100%;
  padding: 240px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar__item {
  position: relative;
  overflow: hidden;
  height: 170px;
  width: 250px;
  background-color: #313131;
}

.sidebar__personalName::before,
.sidebar__icon::before,
.sidebar__item::before {
  content: '';
  position: absolute;
  z-index: 25;
  height: 48px;
  width: 500px;
  background: linear-gradient(
    0deg,
    rgba(49, 49, 49, 1) 0%,
    rgba(36, 36, 36, 1) 35%,
    rgba(36, 36, 36, 1) 65%,
    rgba(49, 49, 49, 1) 100%
  );
  filter: blur(3px);
  border-radius: 5px;
  transform: rotate(45deg);
  animation: skeleton-animation 2s linear infinite;
}

.sidebar__icon::before {
  width: 150px;
}

@keyframes skeleton-animation {
  from {
    left: -500px;
  }
  to {
    left: 100%;
  }
}
