* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-montserrat), Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a,
input,
button {
  color: inherit;
  text-decoration: none;
  font-family: var(--font-montserrat), Arial;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

button {
  outline: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}
